<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>calculadora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>

    <ion-input placeholder="Digite el Capital" type="number" value=""></ion-input>

    <ion-input placeholder="Digite el Interes" type="number" value=""></ion-input>

  </ion-item>

  <ion-item>

    <ion-input placeholder="Plazo" type="number" value=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Tipo de interes</ion-label>
    <ion-select>
      <ion-select-option value="unico">Unico Pago</ion-select-option>
      <ion-select-option value="simple">Simple</ion-select-option>
      <ion-select-option value="compuesto">Compuesto</ion-select-option>


    </ion-select>
  </ion-item>


  <ion-item>
    <ion-label>Periodo de Vigencia</ion-label>
    <ion-select>
      <ion-select-option value="diario">Diario</ion-select-option>
      <ion-select-option value="semanal">Semanal</ion-select-option>
      <ion-select-option value="quincenal">Quincenal</ion-select-option>
      <ion-select-option value="mensual">Mensual</ion-select-option>


    </ion-select>
  </ion-item>

   <ion-item>

    <ion-button>
      Calcular
    </ion-button>

  </ion-item>
  <ion-list>
    <ion-row>
<ion-item style="max-width: 60%;">
    <ion-label  position="stacked">Fecha:</ion-label>
    <ion-input  placeholder="12/04/2022"></ion-input>
    </ion-item>
    <ion-item style="max-width: 25%;">
    <ion-label  position="stacked">Cuota:</ion-label>
    <ion-input  placeholder="5"></ion-input>
  </ion-item>
  </ion-row>

  <ion-row>
  <ion-item style="max-width: 30%;">
    <ion-label position="stacked">Intereses:</ion-label>
    <ion-input placeholder="801"></ion-input>
  </ion-item >
  <ion-item style="max-width: 30%;">
    <ion-label position="stacked">Capital:</ion-label>
    <ion-input placeholder="777"></ion-input>
  </ion-item>
<ion-item style="max-width: 30%;">
    <ion-label position="stacked">Total:</ion-label>
    <ion-input placeholder="1420"></ion-input>
</ion-item>
</ion-row>
</ion-list>
</ion-content>
